#invitations {
	min-height: 100%;
}
#invitations > header {
	height: calc(8rem + 4rem);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

#invitations > main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}
#invitations > main > article {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 2rem;
	gap: 2rem;
	border-radius: 1rem;
	background-color: var(--color-white);
	border-radius: 1rem;
	border: solid 0.25rem var(--color-primary);
}
#invitations > main > article > header {
	width: calc(100% - 20rem - 2rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
}
#invitations > main > article > main {
	width: 20rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}
#invitations > main > article > main > button {
	padding: 1rem;
	border-radius: 1rem;
	border: solid 0.25rem var(--color-primary);
	cursor: pointer;
	transition: background-color var(--transition), color var(--transition), border var(--transition);
}
#invitations > main > article > main > button:nth-child(1) {
	background-color: var(--color-primary);
	color: var(--color-white);
}
#invitations > main > article > main > button:nth-child(1):hover {
	background-color: var(--color-white);
	color: var(--color-primary);
}
#invitations > main > article > main > button:nth-child(2) {
	background-color: var(--color-white);
	color: var(--color-primary);
}
#invitations > main > article > main > button:nth-child(2):hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}
#invitations > main > article > footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
#invitations > main > article > footer > img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	object-fit: cover;
}

@media (max-width: 768px) {
	#invitations > main > article {
		width: 100%;
	}
	#invitations > main > article > header {
		width: 100%;
	}
	#invitations > main > article > main {
		width: 100%;
		justify-content: center;
	}
	#invitations > main > article > main > button {
		width: 100%;
	}
}