
#root[page="dashboard"] {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: block;
}

#dashboard {
	position: relative;
	height: 100vh;
	width: calc(100% - 40rem);
	top: 0;
	left: 40rem;
	transition: width var(--transition), left var(--transition);
}

#sidebarToggle:checked ~ #dashboard {
	width: calc(100% - 8rem);
	left: 8rem;
}

@media screen and (max-width: 60rem) {
	#dashboard {
		width: calc(100% - 8rem);
		left: 8rem;
	}
}

#home > header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}
#home > header > div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
}
#home > header > div > div {
	width: fit-content;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#home > header > div > div > input {
	display: none;
}
#home > header > div > div > input:checked + label {
	background-color: var(--color-primary);
}
#home > header > div > div > input:checked + label > svg > * {
	stroke: var(--color-white);
}
#home > header > div > div > label {
	width: 8rem;
	height: 6rem;
	border: solid 0.25rem var(--color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color var(--transition);
}
#home > header > div > div > label:hover {
	background-color: var(--color-primary);
}
#home > header > div > div > label:first-of-type {
	border-top-left-radius: 6rem;
	border-bottom-left-radius: 6rem;
}
#home > header > div > div > label:last-of-type {
	border-top-right-radius: 6rem;
	border-bottom-right-radius: 6rem;
}
#home > header > div > div > label > svg {
	width: 4rem;
	height: 4rem;
}
#home > header > div > div > label > svg > * {
	transition: stroke var(--transition);
}
#home > header > div > div > label:hover > svg > * {
	stroke: var(--color-white);
}
#home > header > div > #createButton {
	position: relative;
	height: 8rem;
	width: 8rem;
	border-radius: 8rem;
	border: solid 0.25rem var(--color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color var(--transition);
}
#home > header > div > #createButton:hover {
	background-color: var(--color-primary);
}
#home > header > div > #createButton::before,
#home > header > div > #createButton::after {
	position: absolute;
	content: "";
	border-radius: 0.5rem;
	background-color: var(--color-primary);
	transition: background-color var(--transition);
}
#home > header > div > #createButton::before {
	width: 0.5rem;
	height: 4rem;
}
#home > header > div > #createButton::after {
	width: 4rem;
	height: 0.5rem;
}
#home > header > div > #createButton:hover::before,
#home > header > div > #createButton:hover::after {
	background-color: var(--color-white);
}
#home > #summaryViewPanel {
	padding: 2rem;
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 2rem;
}
#home > #summaryViewPanel > div {
	padding: 2rem;

	border: solid 0.25rem var(--color-primary);
	border-radius: 1rem;
}
#home > #summaryViewPanel > div:nth-child(1) { width: calc(40% - 1rem); }
#home > #summaryViewPanel > div:nth-child(2) { width: calc(60% - 1rem); }
#home > #summaryViewPanel > div:nth-child(3) { width: 100%; }

#home > #summaryViewPanel > #summaryCalendarPanel {
	display: flex;
	flex-direction: column;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarHeader {
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarHeader > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarHeader > div > span {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarHeader > div > span:hover {
	opacity: 0.5;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarHeader > div > span > svg {
	width: 2rem;
	height: 2rem;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDaysLabel {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDaysLabel > span {
	width: calc(100% / 7);
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	color: var(--color-white);
	text-align: center;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDaysLabel > span:first-of-type {
	border-top-left-radius: 1rem;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDaysLabel > span:last-of-type {
	border-top-right-radius: 1rem;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDays {
	width: 100%;
	padding: 0.25rem;
	border: solid 0.25rem var(--color-primary);
	border-top: none;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDays > span {
	width: calc(100% / 7 - 0.25rem);
	height: 6rem;
	padding: 0.5rem;
	border: solid 0.25rem var(--color-primary);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	cursor: pointer;
	transition: background-color var(--transition), color var(--transition);
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDays > span:hover {
	background-color: var(--color-primary);
	color: var(--color-white);
}
#home > #summaryViewPanel > #summaryCalendarPanel > #summaryCalendarDays > span > b {
	font-size: 1.5rem;
}