
body:has(> #root[page='signUp']) {
	background-color: var(--color-tertiary);
}

#root[page='signUp'] {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

#signUp {
	position: relative;
	width: 50%;
	height: 100%;
	padding: 4rem 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--color-white);

	overflow: hidden;
}
#signUp > form {
	position: relative;
	width: 100%;
	padding: 4rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 4rem;
	border-radius: 4rem;
	border: 0.25rem solid var(--color-primary);
	z-index: 1;
}
#signUp > form > * { text-align: center; }
#signUp > svg {
	position: absolute;
	bottom: -20rem;
	left: -10rem;
	min-width: calc(100vw + 20rem);
	z-index: 0;
}

#root[page='signUp'] > svg {
	position: absolute;
	bottom: -10rem;
	left: -10rem;
	min-width: calc(100vw + 20rem);
}

@media screen and (max-width: 60rem) {
	#root[page='signUp'] {
		flex-direction: column;
	}
	#root[page='signUp'] > *:not(#signUp) {
		display: none;
	}
	#signUp {
		width: 100%;
		background-color: var(--color-tertiary);
	}
	#signUp > form {
		padding: 4rem 2rem;
		background-color: var(--color-white);
	}
	#signUp > svg {
		bottom: -5rem;
		left: -5rem;
		min-width: calc(100vw + 10rem);
	}
}