
body:has(> #root[page="signIn"]) {
	background-color: var(--color-tertiary);
}

#root[page="signIn"] {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

#signIn {
	position: relative;
	width: 50%;
	height: 100%;
	padding: 4rem 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--color-white);

	overflow: hidden;
}
#signIn > form {
	position: relative;
	width: 100%;
	padding: 4rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 4rem;
	border-radius: 4rem;
	border: 0.25rem solid var(--color-primary);
	z-index: 1;
}
#signIn > form > * { text-align: center; }
#signIn > form > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 1rem;
}
#signIn > svg {
	position: absolute;
	bottom: -20rem;
	left: -10rem;
	min-width: calc(100vw + 20rem);
	z-index: 0;
}

#root[page="signIn"] > svg {
	position: absolute;
	bottom: -10rem;
	left: -10rem;
	min-width: calc(100vw + 20rem);
}